body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #121212;
  font-family: "Lelo-Regular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
#ac-headline {
  padding: 0;
  margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6, b, strong {
  font-family: "Lelo-Bold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 700;
}
form {
    text-align: right;
}

@font-face {
  font-family: 'Lelo-Bold';
  src: url('fonts/Lelo-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lelo-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Lelo-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Lelo-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Lelo-Regular';
  src: url('fonts/Lelo-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Lelo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Lelo-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Lelo-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */

  font-style:   normal;
  font-weight:  400;
}
hr {
  border-top: 0;
  border-bottom: 3px solid #121212;
  margin: 27px 0;
}
button, .button, a.btn {
  background-color: #121212;
    // never use solid background colors, generate noise texture here http://www.cssmatic.com/noise-texture
    //background-image: url('background-url: http://api.thumbr.it/whitenoise-50x50.png?background=111111ff&noise=222222&density=80&opacity=15');
//  background-image: url('images/dadamachines/img-noise-50x50.png');
  background-repeat: repeat;
  border-radius: 0px;
  border: 3px solid #121212;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Lelo-Regular;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-top: 3px;
  padding: 0.6em 1em 0.5em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button.bb {
  background-color: #fff;
  border-radius: 0px;
  border: 3px solid #121212;
  color: #121212;
}
button.trigger {
  font-size: 12px;
  padding: 6px;
  text-transform: uppercase;
}
button:hover {
  background-color: blue;
  border-color: blue;
}
button.bb:hover {
  color: white;
  background-color: blue;
  border-color: blue;
}

header {
  background-color: #121212;
  padding: 0 27px;
   // never use solid background colors, generate noise texture here http://www.cssmatic.com/noise-texture
  //background-image: url('background-url: http://api.thumbr.it/whitenoise-50x50.png?background=111111ff&noise=222222&density=80&opacity=15');
//  background-image: url('images/dadamachines/img-noise-50x50.png');
  background-repeat: repeat;
}
main {
  padding: 0 27px;
}

.automat-tool__header {
  height: 80px;
}
.automat-tool__header ul {
  list-style:none;
  margin:0;
  padding:0;
  padding-top: 29px;
  text-align:center;
  display: block;
}
.automat-tool__header ul li {
  display: inline-block;
  background: transparent;
  margin: 0;
  padding: 0 18px;
  border: 0;
}
.automat-tool__header ul li a {
  display: inline-block;
  height: auto;
  background: transparent;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: Lelo-Bold;
  font-weight: 700;
  font-size: 21px;
  color: #fff;
  border: none;
  text-decoration: none;
}
.automat-tool__header ul li a:hover {
  border-bottom: 3px solid #fff;
}

.header__logo {
  margin: 15px 0;
  position: relative;
  padding: 0;
  float: left;
}

.header__logo svg {
  width: 50px;
  height: 100%;
  display: block;
  fill: white;
}

.automat-tool__header a.default, .automat-tool__header a.experimental {
  list-style:none;
  margin:0;
  padding:0;
  padding-top: 29px;
  text-align:right;
  display: block;
  line-height: normal;
  font-family: Lelo-Bold;
  font-weight: 700;
  font-size: 21px;
  color: #fff;
  border: none;
  text-decoration: none;
}

table.config__table {
  border: 3px solid #121212;
}
table.config__table th {
  text-align: left;
  padding-top: 0px;
  padding-left: 0px;
  background-color: #121212;
  color: #fff;
  padding: 3px;
}

table.config__table td {
  text-align: left;
  background-color: #f3f3f3;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  padding: 0px;
  padding-right: 3px;
  padding-left: 3px;
}

#sysex_config {
  color: red;
}

#when-connected {
  opacity: 0.2;
  pointer-events: none;
}

#when-connected.connected {
  opacity: 1;
  pointer-events: all;
}

button.step {
  width: 35px;
  height: 35px;
  border: 3px solid #222;
  display: inline-block;
  margin: 6px 6px 0 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
}
.step.on {
  background-color: lightblue;
}
.step.accent {
  background-color: blue;
}

.step.playhead {
  background-color: tomato;
}

.bpminput {
  border: 3px solid #121212;
  font-family: Lelo-Regular;
  font-size: 18px;
  padding: 0.35em;
  margin-top: 3px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 4em;
}