body {
  padding: 30px;
  background-color: #222;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}
h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
button {
  background-color: #fff;
  padding: 7px;
  color: #000;
  border-radius: 5px;
  font-size: 1rem;
}
form {
    text-align: right;
}

